{% extends "layout.html" %}

{% block title %}Account Status{% endblock %}

{% block mycontent %}

<h1 class="page-header">Account Status</h1>

<p>Welcome, {{ user['name'] }}</p>

<h3 class="sub-header">Account Balance: {{ user['balance'] }} $</h3>


<p>
  <a class="btn btn-lg btn-primary"
     href="{{ url_for('transfer_moneyz', username=username) }}"
     role="button">
     Transfer Money
  </a>
</p>

<h2 class="sub-header">Other Users</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>User</th>
            <th>Balance</th>
        </tr>
        </thead>
        <tbody>
            {% for t in user['user_list'] %}
                <tr>
                    <td>{{ t['user'] }}</td>
                    <td>{{ t['balance'] }} $</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
