{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='mystyle.css')}}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Iron Bank</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a
                {% if username %}
                     href="{{ url_for('account_status', username=username) }}"
                {% else %}
                     href="{{ url_for('login') }}"
                {% endif %}
                >Account</a></li>
                <li><a href="{{ url_for('help') }}">Help</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}


{% block content %}

{% if error %}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{ error }}
</div>
{% endif %}

<div class="container">
    <div class="starter-template">
        {% block mycontent %}{% endblock %}
    </div>
</div>
{% endblock %}
