{% extends "layout.html" %}

{% block title %}Transfer{% endblock %}

{% block mycontent %}

<h1 class="page-header">Transfer Money</h1>

<form action="" method="post" class="form-transfer">

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username"
            aria-describedby="basic-addon1" name="to">
    </div>

    <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control"
            placeholder="Amount"
            aria-label="Amount (to the nearest dollar)"
            name="amount">
        <span class="input-group-addon">.00</span>
    </div>

    <div class="input-group">
        <input type=submit value="submit"
            class="btn btn-lg btn-primary btn-block" />
    </div>
</form>


{% endblock %}
